
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto Slab', serif;
}

header {
  border-bottom: 1px solid #ccc;
}

.header__inner {
  padding: 15px;
  box-sizing: border-box;
}

header .call-us {
  font-size: 120%;
  padding: 0px;
}

header .call-us strong {
  font-size: 140%;
  color: #FC8A30;
}

header .call-us {
  margin: 10px;
}
.main-logo span{
  display:none;
}
.block {
  padding: 15px;
  box-sizing: border-box;
}

.inner {
  padding: 15px;
}

.b-intro h2{
  text-align: center;
}

.family-pic img, .callcenter-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.callcenter-img img {
  width: 326px;
}


.b-form {
  background-color: #009DE1;
  color: #fff;
}

.form-quotes {
  padding-top: 20px;
}

.b-form .header {
  background-color: #fff;
  color: #000;
  width: 100%;
  padding: 12px;
  border-top: 2px solid #f2f2f2;
}

.b-why-us {
  border-bottom: 2px solid #f2f2f2;
}

.b-agents h2 {
  text-align: center;
}

.b-agents .hero {
  background-color: #DCDCDC;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.b-agents .call-number {
  display: block;
  color: #FC8A30;
  margin-top: 15px;
  font-size: 150%;
}


footer {
  border-top: 1px solid #ccc;
  padding: 20px;
}

.foot-note {
  font-size: 90%;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  box-sizing: border-box;
  display: block;
  padding: 18px;
}

nav li a {
  text-decoration: none;
  color: #6d6d6d;
  font-weight: bold;

}

nav li a:hover {
  text-decoration: underline;
}


/* form */
.f-row {
  margin-top: 10px;
  box-sizing: border-box;
}

.f-row label{
  display: block;
  margin-bottom: 5px;
}

.f-row input[type=text], .f-row select{
  width: 98%;
  padding: 3px 8px;
}

.f-row .gender {
  padding: 5px;
}

.f-row .gender label{
  display: inline;
}

.f-row.submit {
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

.terms {
  font-size: 80%;
  text-align: center;
  margin-bottom: 20px;
}
.msg-error{
  color: yellow;
  font-size: 13px;
  display: block;
  font-weight:  bold
}
.btn-form{
  width: 272px;
  height:52px;
  background: url(../img/btn-get-quotes.png);
  border: 0px;
  cursor: pointer;
}
.btn-form:hover{
  opacity: 0.9;
}
/* form - end */

.about {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


@media screen and (max-width: 450px) {
  header .logo {
    width: 95%;
  }

  header .call-us strong {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .family-pic img,
  .insurance-desc .logo,
  .callcenter-img img {
    width: 95%;
  }



  nav a:hover {
    background-color: #ccc;
    color: #fff;
  }

}

@media screen and (min-width: 550px) {
  .f-row {
    width: 50%;
    padding-right: 20px;
  }

  .form-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 800px) {
  .two-parts, .intro-parts {
    display: flex;
    flex-wrap: wrap;
  }

  .two-parts .item, .intro-parts .item {
    width: 50%;
  }

  .family-pic img {
    width: 270px;
  }

  .callcenter-img img {
    width: 250px;
  }

  .f-row input[type=text], .f-row select{
    width: 90%;
  }

  .about {
    border: 0px;
    border-left: 1px solid #ccc;
  }

  nav {
    text-align: center;
  }

  nav ul li {
    display: inline-block;
  }

  footer {
    border-bottom: 1px solid #ccc;
  }

  .foot-note {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
  }
}

@media screen and (min-width: 1000px) {

  body {
    font-size: 110%;
    line-height: 130%;
  }

  main, header, footer {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  header .call-us {
    margin: 0px;
    font-size: 90%;
    padding-top: 15px;
    text-align: right;
  }

  .header__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .header__inner .item {
    width: 50%;
    display: block;
  }

  .family-pic {
    text-align: center;
  }
  .family-pic img {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .b-intro {
    width: 50%;
    display: inherit;
  }

  .b-intro h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
    line-height: 30px;
  }

  .b-intro .item {
    width: 100%;
  }

  .b-form {
    width: 50%;
  }

  .b-why-us {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .why-us-parts {
    display: flex;
    flex-wrap: wrap;
  }

  .why-us-parts .item {
    width: 50%;
    padding-left: 50px;
  }

  .b-agents {
    margin-top: 40px;
  }
  .b-agents .agent-text {
    width: 100%;
  }
  .b-agents .hero-text {
    width: 60%;
  }
  .b-agents .callcenter-img {
    width: 40%;
  }
  .b-agents .hero {
    margin-top: 50px;
    font-size: 120%;
  }

  footer nav {
    margin-top: 40px;
  }
  footer nav a {
    font-size: 80%;
    font-weight: bold;
  }

  footer nav li {
    padding-left: 0px;
  }

  footer .two-parts{
    display: flex;
    flex-wrap: wrap;
  }

  footer .two-parts .item {
    width: 50%;
  }

  .about {
    width: 40%;
    font-size: 80%;
    border-style: none;
    border-left: 1px solid #ccc;
    background-image: url(../img/location-ico.png);
    background-repeat: no-repeat;
    background-position: left 40px center;
  }
  .about .inner {
    padding-left: 100px;
  }

  .foot-note {
    width: 700px;
  }

}
